doctype html
html
    head
        title The Wedding of Cassandra St. Louis &amp; Bradley Taunt
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        link(rel='stylesheet', type='text/css', href='css/global.css')

    body

        //- Wrapper
        .wrapper

            //- Header
            header
                include ./includes/logo.jade
                h1 Cassandra &amp; Bradley
                    br
                    | September 4th, 2016
                h2 We're getting married, so come celebrate with us!

            //- Container
            .container

                .card
                    h3 Wedding Party
                    h4 Bridesmaids
                        span Joanna Gladys &nbsp;/&nbsp; Cavell Smith &nbsp;/&nbsp; Jacqui Dilnot
                    hr
                    h4 Groomsmen
                        span Stephen Taunt &nbsp;/&nbsp; Chris Cousins &nbsp;/&nbsp; Luke Bailey

                .card.second
                    h3 Venue
                    p Both the ceremony and reception will take place at the beautiful Loch March Golf &amp; Country Club in Kanata, Ontario. This is a 19+ event.
                    a.button(href="") Get directions

            //- Container
            .container

                .card
                    h3 Ceremony
                    p The wedding ceremony begins at 5:30 PM and  will take place outside, weather permitting.
                    p Parking is available inside the Country Club, next to the main Banquet Hall.

                .card.second
                    h3 Reception
                    p The reception will begin at 7 PM inside the Banquet Hall.
                    p Dinner will be provided, along with great music, dancing and a cash bar.
                    p (Each guest will also recieve two drink tickets)

            //- Container
            .container

                .card.full.rsvp
                    h3 RSVP
                    p Please let us know if you're attending by July 1st, 2016. We look forward to seeing you there!
                    a.button.reverse(href="https://bradtaunt.wufoo.com/forms/rsvp/", target="_blank") RSVP

            //- Container
            .container

                .card
                    h3 Accommodations
                    p If you need to book a hotel for your stay, we have rooms for guests at the Brookstreet Hotel.
                    a.button(href="") Make reservations

                .card.second
                    h3 Other
                    p
                        | If you have any questions, concerns or just want to chat about anything, feel free to email us:
                    a.button(href="") Drop us a line

            //- Container
            .container

                .footer
                    p Made with love by Bradley Taunt
